/* Страница */
.word-list {
    background-color: #FFFAC4; 
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #333333; 
    min-height: 100vh;
}

/* Заголовок */
.word-list h2 {
    color: #FF8BCB; 
    font-size: 28px;
    margin-bottom: 20px;
}

/* Кнопка перейти */ 
.word-list a {
    text-decoration: none;
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.word-list a:hover {
    background-color: #e06fad;
}

/* Таблица */ 
.word-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.word-list th,
.word-list td {
    border: 1px solid #FF8BCB;
    padding: 8px;
}
.word-list th {
    background-color: #FF8BCB;
    text-align: center;
    color: #ffffff;
}

/* Кнопка добавить слово */
.add-button {
    background-color: #FFFAC4;
    color: #333333;
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 2px #FF8BCB;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.3s;
}

.add-button:hover{
    background-color: #ffe77a;
}

.word-list input[type="text"] {
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid #FF8BCB;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s;
}

.word-list input[type="text"]:focus {
    border-color: #FF8BCB;
    outline: none;
}

/* Ошибка при незаполненных полях */
.input-error {
    border: 2px solid #e573b0;
    outline: none;
}
/* Сообщение об ошибке */
.error-message {
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Кнопка редактирования */
.edit-button {
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 4px;
    margin-right: 4px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
    
}
.edit-button:hover{
    background-color: #e06fad;
} 

/* Кнопка удаления */
.delete-button{
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 4px;
    border: none;
    margin-left: 4px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover{
    background-color: #e06fad;
}
/* Кнопка сохранить */
.save-word-button{
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 14px;
    margin-right: 2px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
}
.save-word-button:hover{
    background-color: #ffe77a;
    border: 2px solid #e473b2; 
    color: #333;; 
}

/* Кнопка отмена */
.cancel-word-button{
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 14px;
    margin-left: 4px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
}
.cancel-word-button:hover{
    background-color: #ffe77a;
    border: 2px solid #e473b2; 
    color: #333;; 
}
