/* Страница */
.word-list {
    background-color: #FFFAC4; 
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #333333; 
    min-height: 100vh;
}

/* Заголовок */
.word-list h2 {
    color: #FF8BCB; 
    font-size: 34px;
    margin-bottom: 20px;
}

/* Кнопка перейти */ 
.word-list a {
    text-decoration: none;
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.word-list a:hover {
    background-color: #e06fad;
}

/* Таблица */ 
.word-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.word-list th,
.word-list td {
    border: 1px solid #FF8BCB;
    padding: 8px;
}
.word-list th {
    background-color: #FF8BCB;
    text-align: center;
    color: #ffffff;
}

/* Кнопка добавить слово */
.add-button {
    background-color: #FFFAC4;
    color: #333333;
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 2px #FF8BCB;
    font-size: 16px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.3s;
}

.add-button:hover{
    background-color: #ffe77a;
}

.word-list input[type="text"] {
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid #FF8BCB;
    border-radius: 8px;
    background-color: #ffffff;
    transition: border-color 0.3s;
}

.word-list input[type="text"]:focus {
    border-color: #FF8BCB;
    outline: none;
}

/* Ошибка при незаполненных полях */
.input-error {
    border: 2px solid #e573b0;
    outline: none;
}
/* Сообщение об ошибке */
.field-error-message{ 
    padding: 30px 16px;
    margin: 20px 0;
    background-color: #FFE1EC;
    border-left: 5px solid #8B0037;
    border-right: 5px solid #8B0037;
    color: #8B0037;
    font-weight: bold;
    font-size: 24px;
    border-radius: 8px;
}

/* Кнопка редактирования */
.edit-button {
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 4px;
    margin-right: 4px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
    
}
.edit-button:hover{
    background-color: #e06fad;
} 

/* Кнопка удаления */
.delete-button{
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 4px;
    border: none;
    margin-left: 4px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.delete-button:hover{
    background-color: #e06fad;
}
/* Кнопка сохранить */
.save-word-button{
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 14px;
    margin-right: 2px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
}
.save-word-button:hover{
    background-color: #ffe77a;
    border: 2px solid #e473b2; 
    color: #333;; 
}

/* Кнопка отмена */
.cancel-word-button{
    background-color: #FF8BCB;
    color: #ffffff;
    padding: 8px 14px;
    margin-left: 4px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s;
}
.cancel-word-button:hover{
    background-color: #ffe77a;
    border: 2px solid #e473b2; 
    color: #333;
    background-color: #2C2B3C; 
}


/* Темная тема */

/* Страница */
[data-theme='dark'] .word-list {
    background-color: #2C2B3C; 
    color: #E0D7FF;
} 
/* Заголовок */
[data-theme='dark'] .word-list h2 {
    color: #E0D7FF;
}
/* Кнопка перейти */  
[data-theme='dark'] .word-list a {
    background-color: #7B6FFF; 
    color: #FFFAC4; 
}
[data-theme='dark'] .word-list a:hover {
    background-color: #5C4BD8; 
} 
/* Таблица */ 
[data-theme='dark'] .word-list table {
    background-color: transparent;
} 
[data-theme='dark'] .word-list th,
[data-theme='dark'] .word-list td {
    border: 1px solid #7B6FFF; 
} 
[data-theme='dark'] .word-list th {
    background-color: #7B6FFF;
    color: #E0D7FF;
} 

/* Кнопка добавить слово */
[data-theme='dark'] .add-button {
    background-color: transparent; 
    color: #E0D7FF;
    border: 2px solid #7B6FFF; 
} 

[data-theme='dark'] .add-button:hover {
    background-color: #5C4BD8; 
}

/* форма для добавления слова */
[data-theme='dark'] .word-list input[type="text"] {
    background-color: #403e56; 
    color: #E0D7FF;
    border: 1px solid #E0D7FF; 
}

[data-theme='dark'] .input-error{
    border: 2px solid #ffffff;
}

[data-theme='dark'] .field-error-message{ 
    background-color: #403e56;   
    border: 1px solid #E0D7FF;
    border-left: 5px solid #E0D7FF;
    border-right: 5px solid #E0D7FF;
    color: #E0D7FF; 
}

/* Кнопки редактирования, удаления, сохранения и отмены */ 
[data-theme='dark'] .edit-button,
[data-theme='dark'] .delete-button,
[data-theme='dark'] .save-word-button,
[data-theme='dark'] .cancel-word-button {
    background-color: #7B6FFF; 
    color: #E0D7FF; 
}

[data-theme='dark'] .edit-button:hover,
[data-theme='dark'] .delete-button:hover {
    background-color: #5C4BD8; 
}
[data-theme='dark'] .save-word-button:hover,
[data-theme='dark'] .cancel-word-button:hover {
    background-color: #5C4BD8; 
    border: 2px solid #E0D7FF; 
    color: #FFFAC4;
} 